*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 10px;

    /*testing height*/
    height: 900px;
    width: auto;
}
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px; 
  }

#left{
    text-align: left;
}

#center{
    text-align: center;    
    grid-column: 2 / span 4;
    padding-top: 25%;
}

#right{
    text-align: right;      
}

