*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#left{
    text-align: left;
    padding-top: 5%;
}

#center{
    text-align: center;    
    grid-column: 2 / span 4;
    padding-top: 25%;
}

#right{
    text-align: right;   
    padding-top: 5%;   
}

.preResult{
    font-size:xx-large;
    color: gray;
    text-align: left;
    list-style-type: none;
}

.hrStyle{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}

h1, li{
    text-align: left;
}

button{
    float: left;
}

#highScoreLinkLabel{
    color: black;
    list-style-type: none;
}