*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#left{
    text-align: left;
    padding-top: 5%;
}

#center{
    text-align: center;    
    grid-column: 2 / span 4;
    padding-top: 25%;
}

#right{
    text-align: right;   
    padding-top: 5%;   
}

ul{
    margin: 5%;
    padding: 5%;
}

h2{
    text-align: left;
}

